dj-database-url==0.4.1
Django==1.9.6
django-bootstrap3==7.0.1
django-geojson==2.9.0
django-leaflet==0.18.1
django-npm==1.0.0
django-pgfuzzy==0.1.4
geopy==1.11.0
numpy==1.11.0
pandas==0.18.1
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
whitenoise==3.2
