{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" media="screen" href="{% static 'datatables.net-bs/css/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block content %}
<table class="table table-striped" id="dataTable">
  <thead>
    <tr>
      <th>{% block georeference_heading %}{% endblock %}</th>
      <th>ID</th>
      <th>Group</th>
      <th class="col-md-6">Locality</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for georeference in georeferences %}
    <tr>
      <td class="col-md-2">{{ georeference.created_on }}</td>
      <td>{{ georeference.unique_id }}</td>
      <td>{{ georeference.group_id }}</td>
      <td>{{ georeference.locality_name }}</td>
      <td class="col-md-3">
          <a class="btn btn-info georeference" href="{% url 'georeference' georeference.id %}" role="button">
            {% block georeference_action %}{% endblock %} Georeference
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <button class="btn btn-danger delete-prompt" data-url="{% url 'delete' georeference.id %}"
                  data-title="{{ georeference.locality_name }}"  data-toggle="modal" data-target="#deleteModal" role="button">Delete
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">None.</td></tr>
    {% endfor %}
  </tbody>
</table>


<!-- Modal for deleting -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete georeference</h4>
      </div>
      <div class="modal-body">
        <div id="deleteModalPrompt">Are you sure? Do you want to delete "<span id="localityNameForDelete"></span>"?</div>
        <div id="deleteModalSuccess" class="success" style="display: none">
          Successfully deleted.
          <button href="" type="button" class="btn btn-success" onClick="window.location.reload();">Continue
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable();

    $('.delete-prompt').click(function() {
      // Replace the modal body text with the locality text so ppl know what they are deleting
      $('#localityNameForDelete').text($(this).data('title'));

      var ajax_url = $(this).data('url');

      $('#delete').click(function() {
        // If they click delete then make the ajax call
        $.ajax({
          url: ajax_url,
          method: "POST",
          data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          dataType: "json"
        }).done(function() {
          $('#deleteModalPrompt').hide();
          $('#deleteModalSuccess').show();
          $('.modal-footer').hide();
        });
      });
    })
  });
</script>
{% endblock js %}
