{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<!--<link rel="stylesheet" media="screen" href="{% static 'handsontable/dist/handsontable.full.css' %}">-->
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.26.1/handsontable.full.min.css">
{% endblock css %}

{% block content %}
<h1>Add georeferencing tasks in bulk</h1>
<div id="hot"></div>
<hr>
<form action="{% url 'process_bulk' %}" method="post" id="process" role="form">{% csrf_token %}
  <input type="hidden" name="data" id="data">
  <button class="btn btn-primary" data-redirect="" type="submit">Process entries</button>
</form>
{% endblock content %}

{% block js %}
<script>
  var input_columns = {{ input_columns|safe }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.26.1/handsontable.full.min.js"></script>
<!--<script src="{% static 'handsontable/dist/handsontable.full.js' %}"></script>-->
<script src="{% static 'hot_uploader.js' %}"></script>
<script>
</script>
{% endblock js %}
