{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" media="screen" href="{% static 'datatables.net-bs/css/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block heading %}Completed georeferencing tasks{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Completed on</th>
      <th>ID</th>
      <th>Group</th>
      <th class="col-md-6">Locality</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for georeference in georeferences %}
    <tr>
      <td>{{ georeference.created_on }}</td>
      <td>{{ georeference.unique_id }}</td>
      <td>{{ georeference.group_id }}</td>
      <td class="col-md-6">{{ georeference.locality_name }}</td>
      <td>
          <a class="btn btn-primary" href="{{ georeference.id }}" role="button">Georeference
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <a class="btn btn-danger" href="{{ georeference.id }}" role="button">Delete
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No completed tasks.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block js %}
<script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable();
  } );
</script>
{% endblock js %}
