{% extends "website/_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-measure/dist/leaflet-measure.css' %}">
<link rel="stylesheet" href="{% static 'leafletmeasurecontrol/leaflet.measurecontrol.css' %}">
{% endblock css %}

{% block heading %}
  <a class="btn btn-default btn-sm" role="button" href="{% if georeference.geographical_position %}
  {% url 'completed' %}{% else %}{% url 'index' %}{% endif %}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Back
  </a>
  Georeference locality <small>ID {{ georeference.unique_id }}</small>
  {% if georeference.geographical_position %}
    <button class="btn btn-success btn-lg" role="button" disabled style="float: right;">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Already georeferenced</button>
  {% else %}
    <button class="btn btn-warning btn-lg" role="button" disabled style="float: right;">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    Not yet georeferenced</button>
  {% endif %}
{% endblock %}

{% block content %}
<h2 style="font-size: 1.5em; font-weight: normal;">
    {{ georeference.locality_name }}
  <button class="btn btn-info" role="button">Show others in Group #{{ georeference.group_id }}
  <span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
  <a class="btn btn-default" role="button" href="{% url 'auto_geolocate' georeference.id %}">Repeat auto-geolocate process
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
</h2>
<div class="well">
  <h3 data-toggle="tooltip" data-placement="top" title="The system cleans and splits up locality names into parts">Cleaned locality name
    <a class="btn btn-default" role="button" href="{% url 'clean_locality' georeference.id %}">
      Re-clean locality (debugging)
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
  </h3>
  <table class="table">
    <thead>
      <tr>
      {% for key, item in georeference.locality_name.locality_parts.items %}
      <th>{{ key }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for key, item in georeference.locality_name.locality_parts.items %}
      <td>{{ item }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<div id="leaflet" style="height: 600px"></div>
<hr>
<form method="post" action="">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "comment" %} Save notes
        </button>
    {% endbuttons %}
</form>

<form style="display: none;" class="template-form" method="post" action="{% url 'set_geographical_position' georeference.id %}">{% csrf_token %}
    <h3><span class="form-heading">Map marker</span> <small class="form-coords"></small></h3>
    {% for field in geographical_position_form %}
      {% if field.name == 'buffer' %}
        {% bootstrap_field field addon_after="km" %}
      {% else %}
        {% bootstrap_field field %}
      {% endif %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-warning submit-georeference" onClick="enableSelects();">
            {% bootstrap_icon "ok" %} Set as georeferenced point
        </button>
    {% endbuttons %}
</form>
{% endblock content %}

{% block js %}
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'leaflet-measure/dist/leaflet-measure.min.js' %}"></script>

<!-- Not on NPM, https://github.com/makinacorpus/Leaflet.MeasureControl -->
<script src="{% static 'leafletmeasurecontrol/leaflet.measurecontrol.js' %}"></script>
<script>
  var potential_geographical_positions = $.parseJSON('{{ georeference.potential_geographical_positions|safe }}');
  var redirect_url = "{% url 'index' %}";
  var georeference_id = '{{ georeference.id }}';
  csrf = '{{ csrf_token }}';

  // Because disabled values do not submit, we have to remove all of the disableds from the select elements
  function enableSelects() {
    $('select').attr('disabled', false);
  }
</script>
<script src="{% static 'georeference.js' %}"></script>
{% endblock js %}
