{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
<link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}">
{% endblock css %}

{% block content %}
<h1 id="locality_name"><small id="date"></small></h1>
<div id="group"></div><div id="unique_id"></div>
<button class="btn btn-primary btn-process" data-locations='{{ row.locality_name.potential_geo_locations }}'>Process</button>
<hr>
<div id="leaflet" style="height: 400px"></div>
{% endblock content %}

{% block js %}
<script>
  data = {{ data|safe }};
</script>
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'georeference.js' %}"></script>
{% endblock js %}
