{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
<link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}">
{% endblock css %}

{% block content %}
<p id="pagination-here"></p>
<h1 id="locality_name"></h1>
Group: <div id="group"></div>
<br>
Unique ID: <div id="unique_id"></div>
<br>
Date: <div id="date"></div>
<hr>
<div id="leaflet" style="height: 400px"></div>
{% endblock content %}

{% block js %}
<script src="{% static 'bootpag/lib/jquery.bootpag.js' %}"></script>
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script>
  data = {{ data|safe }};
  geolocate_ajax_url = "{% url 'process_locality' %}";
  set_georef_ajax_url = "{% url 'set_georeference' %}";
  csrf = '{{ csrf_token }}';
</script>
<script src="{% static 'georeference.js' %}"></script>
{% endblock js %}
